<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <h1>TinyApp</h1>
<% if (username) { %>
  <form class="form-inline" method="POST" action="/logout"><%=username%> is logged in
  <button type="submit" class="btn btn-primary" name="username" value="<%=username%>">Logout</button>
</form>
<% } else { %>
  <p><a href="/login">Login</a> | <a href="/register">Register</a></p>
<% } %>
</nav>