<!-- Think need to change this so it has HTML styling. May then be able to take it out of the other view pages -->

<h1>TinyApp</h1>

<% if (username) { %>
  <h4><%=username%> is logged in</h4>
  <form class="form-inline" method="POST" action="/logout">
  <button type="submit" class="btn btn-primary" name="username" value="<%=username%>">Logout</button>
</form>
<% } else { %>

<form class="form-inline" method="POST" action="/login">
  <input class="form-cont" type="text" name="username" style="width: 300px; margin: 1em">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<% } %>
